<h3 align="left">Estadísticas Quiz</h3>
<br/>
<p><table >
    <tr><td align="left">El número de preguntas:</td>
        <td><%= nquiz%></td>
    </tr>
    <tr><td align="left">El número de comentarios totales:</td>
        <td><%= ncomment%></td>
    </tr>
    <tr><td align="left">El número medio de comentarios por pregunta:</td>
        <td><%= ncommentxquiz%></td></tr>
    </tr>
    <tr><td align="left">El número de preguntas sin comentarios:</td>
        <td><%= nquizncomment%></td></tr>
    </tr>
    <tr><td align="left">El número de preguntas con comentarios:</td>
        <td><%= nquizcomment%></td></tr>
    </tr>
</table></p>