<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();

    data.addColumn('string', 'Estadística');
    data.addColumn('number', 'Valor');
    data.addRows([
    ['Preguntas', <%= nquiz %>],
    ['Sin Comentarios', <%= nquizncomment %>]
    ]);
    // Set chart options
    var options = {'title':'Pctje. de preguntas sin comentario.',
        'width':600,
        'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

    chart.draw(data, options);
}
</script>



<h3 align="left">Estadísticas Quiz</h3>
<br/>
<p><table >
    <tr><td align="left">El número de preguntas:</td>
        <td><%= nquiz%></td>
    </tr>
    <tr><td align="left">El número de comentarios totales:</td>
        <td><%= ncomment%></td>
    </tr>
    <tr><td align="left">El número medio de comentarios por pregunta:</td>
        <td><%= ncommentxquiz%></td></tr>
    </tr>
    <tr><td align="left">El número de preguntas sin comentarios:</td>
        <td><%= nquizncomment%></td></tr>
    </tr>
    <tr><td align="left">El número de preguntas con comentarios:</td>
        <td><%= nquizcomment%></td></tr>
    </tr>
</table></p>

<br/>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>